
@{
    ViewBag.Title = "Ab";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Ab.css");
}


<form class="khung">
    <h2 class="tieude">THÀNH VIÊN TEAM 11 LẬP TRÌNH WEB</h2>
    <h3 class="tieude">CNTT 2</h3><br />
    <div class="box">
        <h3 class="textheading">CAPTIAN SỦA SẠCH</h3>
        <p  class="text">
            <b>PHAN TÂN PHƯỚC</b><br /><br /> Có triệu chứng sắp gãy lưng
        </p>
        <hr />
        <h3 class="textheading">NÔ LỆ</h3>
        <p class="text">
            <b>NGUYỄN LÊ MINH KHOA</b><br /><br /> Kẻ bú liếm
        </p>
        <hr />
        <h3 class="textheading">MÁY DẬP</h3>
        <p class="text">
            <b>CAO QUỐC KHÁNH</b><br /><br /> Siêu đạo dụ 
        </p>
        <hr />
        <h3 class="textheading">MỒM TRÂU</h3>
        <p class="text">
            <b>LÊ QUỐC DIỆT</b><br /><br /> Speed blame level max
        </p>
    </div>
</form>

