
@{
    ViewBag.Title = "An";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/An.css");
}

<br />
<h2 class="tieude">3 BÀI NHẠC CỔ ĐIỂN NỔI TIẾNG</h2>

<hr />

<form class="khung">
    <div class="flex-container">
        <div class="box1">
            <iframe class="video1" width="500" height="300" src="https://www.youtube.com/embed/qEKhu2cnh98" title="James Last - Moonlight Sonata" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="box2">
            <h3>Moonlight Sonata - Beethoven</h3>
            <p class="text1">
                Bản sonata cho piano số 14 ở C# thứ , được đánh dấu là Quasi una fantasia , Op. 27 , No. 2, là một bản sonata dành cho piano của Ludwig van Beethoven . Nó được hoàn thành vào năm 1801 và được dành tặng vào năm 1802 cho học trò của ông là Nữ bá tước Julie "Giulietta" Guicciardi .
                Cái tên nổi tiếng Moonlight Sonata bắt nguồn từ nhận xét của một nhà phê bình sau cái chết của Beethoven.
                Bản dịch nguyên văn thực sự sẽ là "Moonshine Sonata".
                Bản nhạc này là một trong những sáng tác phổ biến nhất của Beethoven dành cho piano, và nó đã được yêu thích ngay cả vào thời của ông.
                Beethoven viết Bản tình ca ánh trăng vào đầu những năm 30 tuổi, sau khi ông đã hoàn thành một số công việc được ủy thác; không có bằng chứng nào cho thấy ông được giao viết bản sonata này.
            </p>
        </div>
    </div>
</form>

<hr />

<form class="khung">
    <div class="flex-container">
        <div class="box1">
            <iframe class="video1" width="500" height="300" src="https://www.youtube.com/embed/xp6zA499gls" title="Mozart - Eine Kleine Nachtmusik, K. 525" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="box2">
            <h3>Eine Kleine Nachtmusik, K. 525 - Mozart</h3>
            <p class="text1">
                Eine kleine Nachtmusik (Serenade số 13 cho đàn dây cung G-trưởng),K. 525, là một sáng tác năm 1787 chodàn nhạc thính phòng của Wolfgang Amadeus Mozart(1756–1791).
                Tiêu đề tiếng Đức có nghĩa là "một chút âm nhạc ban đêm".
                Tác phẩm được viết cho một bản hòa tấu gồm haiviolon, viola, cellovàdouble bass, nhưng thường được biểu diễn bởidàn nhạc dây.
                Bản dạ khúc là một trong những tác phẩm nổi tiếng nhất của Mozart.

                Bản serenade được hoàn thành tại Vienna vào ngày 10 tháng 8 năm 1787, vào khoảng thời gian Mozart đang thực hiện màn thứ hai trong vở opera Don Giovanni của ông .
                Không biết tại sao nó được sáng tác.
                Wolfgang Hildesheimer , lưu ý rằng hầu hết các bản serenade của Mozart đều được viết theo yêu cầu, gợi ý rằng bản serenade này cũng là một bản viết theo yêu cầu, nguồn gốc và buổi biểu diễn đầu tiên không được ghi lại.
            </p>
        </div>
    </div>
</form>

<hr />

<form class="khung">
    <div class="flex-container">
        <div class="box1">
            <iframe class="video1" width="500" height="300" src="https://www.youtube.com/embed/Nnuq9PXbywA" title="J.S. Bach - Toccata and Fugue in D minor BWV 565" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="box2">
            <h3>Toccata and Fugue in D Minor, BWV 565 - J.S.Bach</h3>
            <p class="text1">
                Toccata và Fugue in Rê thứ , BWV 565, là một bản nhạc organ được viết, theo các nguồn lâu đời nhất còn tồn tại của nó, bởi Johann Sebastian Bach (1685–1750). 
                Tác phẩm mở đầu bằng phần toccata , tiếp theo là phần fugue kết thúc bằng coda . 
                Các học giả khác nhau về thời điểm nó được sáng tác. Nó có thể sớm nhất là c.  1704 . 
                Ngoài ra, một niên đại muộn nhất là những năm 1750 đã được đề xuất. 
                Ở một mức độ lớn, tác phẩm phù hợp với những đặc điểm được coi là điển hình của trường phái organ phía bắc nước Đức thời kỳ Baroquevới những ảnh hưởng phong cách khác nhau, chẳng hạn như đặc điểm miền nam nước Đức.
            </p>
        </div>
    </div>
</form>


