
@{
    ViewBag.Title = "Dn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Dn.css");
}
<br />
<form class="box">
    <h3>ĐĂNG NHẬP</h3>
    <br />
    <div>
        <input class="ttk" type="text" placeholder="Tên Tài Khoản..."/>
        <br />
        <input class="mk" type="password" placeholder="Mật Khẩu..."/>
        <br />
        <button class="ht" type="submit">Đăng nhập</button>
        <p>Chưa có tài khoản! <a href='@Url.Action("Dn", "Home")' target="_blank">Tạo tài khoản</a></p>
    </div>
</form>

