@{
    ViewBag.Title = "Home Page";
}



<div class="tongpage">
    <form class="khunganh">
        <div class="boxtext">
            <!--Tao bacrground trong suot-->
        </div>
        <div class="textinbox">
            <h2>MỸ THUẬT</h2>
            <p>
                Đây là một từ Hán Việt, với “mỹ” nghĩa là đẹp, còn “thuật” nằm trong từ “nghệ thuật”. Nói một cách dễ hiểu, mỹ thuật là những cái đẹp từ nghệ thuật, có thể là do con người hoặc từ tự nhiên tạo nên và có thể nhìn thấy được. Chính vì thế mà người ta còn gọi môn này là “nghệ thuật thị giác” – hay còn có tên tiếng anh là “visual art”.
                Có nhiều mức độ để thưởng thức cái đẹp. Điều này phụ thuộc vào sự hiểu biết, sở thích và khiếu thẩm mỹ riêng của từng người. Do đó, quan niệm về mỹ thuật không theo một chuẩn mực cụ thể nào. Vì vậy, bạn không thể đơn thuần đánh giá được mỹ thuật đó là đẹp hay xấu, mà phải đánh giá là nó hợp với nhãn quang người xem hay không.  Một tác phẩm càng được nhiều người thích thì chứng tỏ giá trị thẩm mỹ của nó càng cao.
                Ta có thể thấy mỹ thuật ở nhiều lĩnh vực nghệ thuật thị giác khác nhau, tiêu biểu là: hội họa, đồ họa và điêu khắc.
            </p>
            <button class="nut">Tham Quan</button>
        </div>
        <img class="anh" src="https://afremov.com/images/product/image_907.jpeg" alt="Anh loi" />
    </form>
    <br>
    <form class="khungan">
        <img class="anhan" src="https://tse4.mm.bing.net/th?id=OIP.rvayU_o0En4cpKLFeoi3XgHaEF&pid=Api&P=0" alt="Anh loi" />
        <div class="boxtextan">
            <h2>Âm Nhạc</h2>
            <p>Âm nhạc là một bộ môn nghệ thuật dùng âm thanh để diễn đạt cảm xúc của người hát hoặc người nghe. Các yếu tố chính của nó là cao độ (điều chỉnh giai điệu), nhịp điệu (và các khái niệm liên quan của nó: nhịp độ, tốc độ), âm điệu, và những phẩm chất âm thanh của âm sắc và kết cấu bản nhạc.</p>
            <button class="nut">Tham Quan</button>
        </div>
    </form>
</div>