
@{
    ViewBag.Title = "Mt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Mt.css");
}

<h2 class="tieude">3 BỨC TRANH NỔI TIẾNG THẾ GIỚI</h2>

<hr>
<form class="box">
    <div class="flex-container">
        <div class="flexbox1">
            <img class="anh1" src="https://doart.com.vn/upload/images/buc-tranh-noi-tieng-the-gioi-doart-1.jpg" alt="anh loi" />
        </div>
        <div class="flexbox2">
            <h3>Mona Lisa - Leonardo da Vinci</h3>
            <p>
                Bức tranh nổi tiếng nhất trên thế giới là điểm thu hút chính của Bảo tàng Louvre ở Paris,
                nơi mỗi năm có 6 triệu người đến tham quan. Leonardo da Vinci đã vẽ bức tranh này từ năm 1503 hoặc 1504 trong khoảng thời gian ngắn trước khi ông chết năm 1519.
            </p>
            <p>
                Bức tranh là một bức chân dung nửa người và thể hiện một phụ nữ có những nét thể hiện trên khuôn mặt thường được miêu tả là bí ẩn. 
                Sự mơ hồ trong nét thể hiện của người mẫu, sự lạ thường của thành phần nửa khuôn mặt, và sự huyền ảo của các kiểu mẫu hình thức và không khí hư ảo là những tính chất mới lạ góp phần vào sức mê hoặc của bức tranh. 
                Có lẽ nó là bức tranh nổi tiếng nhất từng bị đánh cắp và được thu hồi về bảo tàng Louvre. 
                Ít tác phẩm nghệ thuật khác từng là chủ đề của nhiều sự chăm sóc kỹ lưỡng, nghiên cứu, thần thoại hoá và bắt chước tới như vậy. 
                Một sự nghiên cứu và vẽ thử bằng chì than và graphite về Mona Lisa được cho là của Leonardo có trong Bộ sưu tập Hyde, tại Glens Falls, NY.
            </p>
        </div>
    </div>
</form>

<hr />

<form class="box">
    <div class="flex-container">
        <div class="flexbox1">
            <img class="anh1" src="https://doart.com.vn/upload/images/buc-tranh-noi-tieng-the-gioi-doart-2.jpg" alt="anh loi" />
        </div>
        <div class="flexbox2">
            <h3>Bữa ăn tối cuối cùng - Leonardo da Vinci</h3>
            <p>
                Bức tranh nổi tiếng thế giới này không được trưng bày trong một viện bảo tàng, mà chỉ bao gồm bức tường phía sau của phòng ăn ở tu viện Santa Maria delle Grazie tại Milan, Italy. 
                Nó được vẽ bởi nghệ sĩ nổi tiếng nhất mọi thời đại, Leonardo da Vinci vào cuối thế kỷ 15. 
                Bức tranh vẽ chân dung Bức Tiệc Ly của Chúa Giêsu với các môn đệ. 
                Kiệt tác này được trưng bày trong tu viện nhỏ thực sự là một trong những điểm tham quan thú vị nhất Milan.
            </p>
            <p>
                Bức tranh của Vinci mô tả lại một đoạn trong sách Kinh Thánh rằng: Giuđa — một trong số các môn đệ của Chúa Giêsu — nộp Thầy của mình cho các lực lượng đối lập với Chúa Giêsu lúc bấy giờ, là giới lãnh đạo tôn giáo và nhà cầm quyền La Mã để đổi lấy 30 đồng bạc. 
                Ở bữa ăn tối cuối cùng, Chúa Giêsu (ở chính giữa bức tranh), đang nói với các môn đồ: "Trong các con có kẻ muốn nộp Ta".
            </p>
        </div>
    </div>
</form>

<hr />

<form class="box">
    <div class="flex-container">
        <div class="flexbox1">
            <img class="anh1" src="https://doart.com.vn/upload/images/buc-tranh-noi-tieng-the-gioi-doart-3.jpg" alt="anh loi" />
        </div>
        <div class="flexbox2">
            <h3>Sáng tạo của Adam - Michelangelo</h3>
            <p>
                Nằm trên trần của Nhà thờ Sistine ở thành phố Vatican, Rome. Sáng tạo của Adam được vẽ bởi họa sĩ Michelangelo từ năm 1508 đến năm 1512 và là một trong chín cảnh trong sách Genesis được vẽ trên trung tâm của trần nhà của nhà nguyện.
            </p>
            <p>
                Bức bích họa được vẽ vào năm 1511, nó dựa trên một trong chín sự kiện xuất hiện chi tiết trong Sáng thế ký về sự sáng tạo của thế giới. 
                Bức bích họa này dựa trên thực tế rằng Chúa, một sinh vật cao tuổi với trí tuệ tuyệt vời, đã mang lại nguồn sức sống cho người đàn ông đầu tiên trên thế giới, Adam. 
                Michelangelo đã vẽ chín bức bích họa, trong đó việc tạo ra Adam theo trình tự thời gian theo các tập của Sáng thế ký là sự kiện số bốn và là một trong những bức cuối cùng được hoàn thành bởi họa sĩ, nhưng nó là một trong những tác phẩm được mọi người đánh giá cao nhất và được công nhận trên toàn thế giới.
            </p>
        </div>
    </div>
</form>